[include mainsail.cfg]


#Raspberry Pi temperature monitoring 
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


#Octopus_Mcu v1.1 h723 temperature monitoring 
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


[mcu]
#serial: /dev/serial/by-id/<your-mcu-id>
canbus_uuid=82b80d1b9217


[virtual_sdcard]
path: /home/voron/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 1000
